
*{
	margin: 0;
	padding: 0;
	outline: none;
	
}

#fixed{
	height: 500px;
	border-top: 4px solid #f0f0f0;
	border-bottom: 4px solid #f0f0f0;
	background: url("../img/bike.jpg") no-repeat center center fixed;
	background-blend-mode: multiply;
	background-color: #A4A4A4;
	background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	transform: translateY(-1%)
}

h2{
	text-shadow: 1px 1px 10px #000;
}

h1{
	text-shadow: 1px 1px 1px #F2F2F2;
}

.carousel-caption{
	position: absolute;
	top: 50%;
	transform: translateY(-90%);
	text-shadow: 1px 1px 10px #000;
}

hr{
	border-color: #424242;
	border-width: 2px;
}


html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;// значение высоты #footer
}

.social a {
	font-size: 40px;
	padding: 20px;
	color: #424242;
}

.social a:hover{
	color: #BDBDBD;
}
